<div class="sidebar" [class.sidebar-toggled]="toggled" *ngIf="isLoggedIn">
    <div class="sidebar-header">
        <img src="img/avatars/7.jpg" class="img-avatar" alt="Avatar">
        <div>
            <strong>{{username}}</strong>
        </div>
        <div class="text-muted">
            <small>{{username}}</small>
        </div>

        <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-link" (click)="logout()">
                <i class="icon-logout"></i>
            </button>
            <button type="button" class="btn btn-link">
                <i class="icon-settings"></i>
            </button>
            <button type="button" class="btn btn-link">
                <i class="icon-user"></i>
            </button>
        </div>
    </div>

    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']"><i class="fa fa-home"></i>Home</a>
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/units']"><i class="fa fa-fort-awesome"></i> Units</a>
                <a class="nav-link" routerLinkActive="active" [routerLink]="['/components']"><i class="fa fa-cubes"></i> Components</a>
            </li>
        </ul>
    </nav>
</div>
