<div class="card" *ngIf="firmware && hardware">
    <div class="card-header">
        <strong>Firmware</strong>
        <small></small>
    </div>
    <div class="card-block">
        <div class="row">
            
            <div class="form-group col-sm-8">
                <label>Hardware</label>
                <input type="text" name="hardware" class="form-control" [(ngModel)]="hardware.appname">
            </div>
            <div class="form-group col-sm-4">
                <label for="hardwareRevision">Revision</label>
                <input type="text" name="revision" class="form-control" [(ngModel)]="hardware.revision">
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-5">
                <label>Firmware Revision</label>
                <input type="text" class="form-control" name="fwRevision" [(ngModel)]="firmware.revision">
            </div>
            <div class="form-group col-sm-7">
                <label>URL</label>
                <input type="text" class="form-control" name="fwUrl" [(ngModel)]="firmware.blobUrl">
            </div>
        </div>
        <!-- Drop Zone -->
        <label for="postal-code">Upload new firmware</label>
<!--
        <div class="upload-drop-zone" id="drop-zone">
            Drag and drop files here
        </div>
-->                    
    </div>
</div>
