
        
<div class="col-xs-12 mb-2" *ngIf="firmware && hardware">
    <!-- Nav tabs -->
    <tabset>
        <tab heading="Firmware">
            <div class="row">
                <div class="form-group col-xs-12 col-md-8">
                    <label>Hardware</label>
                    <input type="text" name="hardware" class="form-control" [(ngModel)]="hardware.appname">
                </div>
                <div class="form-group col-xs-12 col-md-4">
                    <label for="hardwareRevision">Revision</label>
                    <input type="text" name="revision" class="form-control" [(ngModel)]="hardware.revision">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-md-12 col-lg-5">
                    <label>Firmware Revision</label>
                    <input type="text" class="form-control" name="fwRevision" [(ngModel)]="firmware.revision">
                </div>
                <div class="form-group col-xs-12 col-md-12 col-lg-7">
                    <label>URL</label>
                    <input type="text" class="form-control" name="fwUrl" [(ngModel)]="firmware.blobUrl">
                </div>
            </div>
            <div class="row form-group">
                <label class="col-xs-12 col-lg-6 custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="autoOTA" [(ngModel)]="autoOTA" (ngModelChange)="updateUrl()">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Send OTA Command</span>
                </label>
                <label class="col-xs-12 col-lg-6 custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="releaseVersion" [(ngModel)]="release" (ngModelChange)="updateUrl()">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Release Version</span>
                </label>                
            </div>
            <div ng2FileDrop
                    [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                    (fileOver)="fileOverBase($event)"
                    [uploader]="uploader"
                    class="well my-drop-zone"
                    >
                Drop hex file to upload new firmware <span *ngIf="uploader?.queue?.length > 0">({{uploader?.queue?.length}} files uploading)</span>
            </div>
        </tab>
        <tab heading="Actions" *ngIf="firmwareActions">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-xs-9 col-md-3">Name</th>
                            <th class="col-xs-3">Command</th>
                            <th class="hidden-xs-down">Command Details</th>
                            <th class=""></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let firmwareAction of firmwareActions">
                            <td class="">{{firmwareAction.name}}</td>
                            <td class="hidden-xs-down">{{firmwareAction.command}}</td>
                            <td class="hidden-xs-down">{{firmwareAction.commandDetails}}</td>
                            <th class="">
                                <button class="btn btn-primary btn-xs" type="button" (click)="sendCommand(firmwareAction)">Send</button>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-primary btn-xs" type="button">
                Create  
            </button>     
            <div class="label label-danger" *ngIf="errorMessage != null">
                {{errorMessage}}
            </div>       
        </tab>
        
        <tab heading="Data" *ngIf="firmwareDataPaths">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col-xs-2">Name</th>
                            <th class="col-xs-2">Path</th>
                            <th class="col-xs-2">Format</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let path of firmwareDataPaths;let index = index">
                            <td class="">
                                <input [(ngModel)]="firmwareDataPaths[index].name" (change)="fwDataPathChanges(firmwareDataPaths[index])">
                            </td>
                            <td class="">
                                <input [(ngModel)]="firmwareDataPaths[index].path" (change)="fwDataPathChanges(firmwareDataPaths[index])">
                            </td>
                            <td class="">
                                <input [(ngModel)]="firmwareDataPaths[index].format" (change)="fwDataPathChanges(firmwareDataPaths[index])">
                            </td>                            
                        </tr>
                    </tbody>
                </table>
            </div>
            <button class="btn btn-secondary btn-xs" type="button">
                Create  
            </button>     
            <div class="label label-danger" *ngIf="errorMessage != null">
                {{errorMessage}}
            </div>       
        </tab>
    </tabset>
    
</div>
