<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Messages from last week</h3>
    </div>
    <form class="form-in-panel">
        <div class="form-group">
            <label for="echoMessage">Send echo</label>
            <input class="form-control" type="text" name="echoMessage" [(ngModel)]="echoMessage"/> <button class="btn btn-primary" (click)="echo()">send</button>
        </div>
    </form>
    <div class="message-list">
        <div *ngFor="let message of messages | reverse">
            [{{message.fw}}] - {{message.rowkey | date:'yyyy-MM-dd HH:mm'}}: {{message.message}}
        </div>
        <div *ngIf="messages.length == 0">No messages</div>
    </div>
</div>