<div class="animated fadeIn row" *ngIf="component">

        <div class="col-sm-6">
            <xns-component-details [component]="component"></xns-component-details>
        </div>

        <div class="col-sm-6">
            <xns-component-firmware [component]="component"></xns-component-firmware>
        </div>
        <div class="col-sm-12">
            <xns-component-custom-command [component]="component"></xns-component-custom-command>
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <strong>Messages</strong> 
                    <span class="float-right"> Refresh every 10 sec 
                    <label class="switch switch-text switch-pill switch-primary">
                        <input checked="" class="switch-input" type="checkbox">
                        <span class="switch-label" data-off="Off" data-on="On"></span>
                        <span class="switch-handle"></span>
                    </label>
                    </span>
                    <small></small>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="form-group col-sm-3">
                            <label for="city">Send Echo</label>
                            <div class="input-group">
                                    <input class="form-control" id="input2-group2" name="input2-group2" placeholder="Echo Message" type="email">
                                    <span class="input-group-btn">
                                        <button class="btn btn-primary" type="button">Send</button>
                                    </span>
                            </div>
                        </div>
                        
                    </div>
                    
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Message</th>
                                <th>Up time</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>2012/01/01</td>
                                <td>Connected</td>
                                <td>
                                    <span class="badge badge-success">9 h 12m 33s</span>
                                </td>
                            </tr>
                            <tr>
                                <td>2012/01/01</td>
                                <td>OTA Upgrade from http</td>
                                <td>
                                    <span class="badge badge-success">9 h 12m 33s</span>
                                </td>
                            </tr>
                            <tr>
                                <td>2012/01/01</td>
                                <td>Im alive</td>
                                <td>
                                    <span class="badge badge-success">9 h 12m 33s</span>
                                </td>
                            </tr>
                            <tr>
                                <td>2012/01/01</td>
                                <td>Im alive</td>
                                <td>
                                    <span class="badge badge-success">9 h 12m 33s</span>
                                </td>
                            </tr>
                            <tr>
                                <td>2012/01/01</td>
                                <td>Im alive</td>
                                <td>
                                    <span class="badge badge-success">9 h 12m 33s</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
</div>    