<div class="card">
    <div class="card-header">
        <strong>Command</strong>
        <small></small>
    </div>
    <div class="card-block">
        <form class="" (keydown)="keyDownFunction($event)">
            <div class="row">
                <div class="form-group col-sm-3">
                    <label for="city">Command</label>
                    <input type="text" class="form-control" name="commandName" [(ngModel)]="commandName">
                </div>
                <div class="form-group col-sm-9">
                    <label for="street">Details</label>
                    <input type="text" class="form-control" name="commandDetails" placeholder="{'name':'value'}" [(ngModel)]="commandDetails">
                    <div class="label label-danger" *ngIf="errorMessage != null">
                        {{errorMessage}}
                    </div>
                </div>
            </div>    
            <div class="form-group">
                <button type="button" name="sendCommand" class="btn btn-primary" (click)="sendCommand()">Send</button>
            </div>
        </form>
    </div>
</div>
