<div class="card">
    <div class="card-header">
        <strong>Messages</strong> 
        <span class="float-right"> Refresh every 10 sec 
        <label class="switch switch-text switch-pill switch-primary">
            <input checked="" class="switch-input" type="checkbox" [(ngModel)]="autoRefresh" (click)="toggleAutoRefresh()">
            <span class="switch-label" data-off="Off" data-on="On"></span>
            <span class="switch-handle"></span>
        </label>
        </span>
        <small></small>
    </div>
    <div class="card-block">
        <div class="row">
            <div class="form-group col-sm-12">
                <label for="city">Send Echo</label>
                <form class="form-in-panel" (keydown)="keyDownFunction($event)">
                    <div class="input-group">
                        <input class="form-control" type="text" name="echoMessage" placeholder="Echo Message" [(ngModel)]="echoMessage"/>
                        <span class="input-group-btn">
                            <button class="btn btn-primary" (click)="echo()">Go</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
        <div>&nbsp;
            <span class="badge badge-default" *ngIf="loading">Loading...</span>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Time ago</th>
                    <th>Message</th>
                    <th>Up time</th>
                    <th>Log time</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let message of messages">
                    <td class="">{{message.enqueued | duration}}</td>
                    <td>{{message.message}}</td>
                    <td>
                        <span *ngIf="message.up" class="badge badge-success">{{message.up | duration}}</span>
                    </td>
                    <td class="text-muted">{{message.enqueued | mydate:'yyyy-MM-dd HH:mm'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


