<h1>{{component.name}}</h1><a [routerLink]="['/edit/component', component.id]">edit</a>
<div class="row">

    <div class="col-sm-3 text-right">Unit ID</div>
    <div class="col-sm-9">{{component.unitId}}</div>
    
    <div class="col-sm-3 text-right">Address</div>
    <div class="col-sm-9">{{component.componentAddress}}</div>
    
</div>

<div class="panel panel-info" *ngIf="hasTemperature()">
    <div class="panel-heading">
        <h3 class="panel-title">Latest temperatures</h3>
    </div>
    <ul>
        <li *ngFor="let p of latest | keys:'temperature'">
            {{p.key}}: <span class="label label-info">{{p.value.temperature}} &deg;C</span> <span class="small">[{{p.value.logdate | mydate:'dd.MM.yyyy HH:mm'}}]</span>
        </li>
    </ul>
</div>

<div class="panel panel-info" *ngIf="hasPosition()">
    <div class="panel-heading">
        <h3 class="panel-title">Latest positions</h3>
    </div>
    <ul>
        <li *ngFor="let p of latest | keys:'position'">
            {{p.key}}: <span class="label label-info">{{p.value.position}}</span> <span class="small">[{{p.value.logdate | date:'dd.MM.yyyy HH:mm'}}]</span>
        </li>
    </ul>
</div>

<div class="panel panel-info" *ngIf="hasWeigth()">
    <div class="panel-heading">
        <h3 class="panel-title">Latest weight</h3>
    </div>
    <ul>
        <li *ngFor="let p of latest | keys:'weight'">
            {{p.key}}: <span class="label label-info">{{p.value.weight}} {{p.value.measureunit}}</span> <span class="small">[{{p.value.logdate | date:'dd.MM.yyyy HH:mm'}}]</span>
        </li>
    </ul>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Latest raw</h3>
    </div>
    <pre>{{getJson()}}</pre>
</div>




<xns-component-messages [component]='component'></xns-component-messages>
