<form>
    <div class="form-group">
        <label for="typeInput">Type</label>
        <input type="text" class="form-control" id="typeInput" placeholder="Type"/>
    </div>
    <div class="form-group">
        <label for="typeInput">Name</label>
        <input type="text" class="form-control" id="nameInput" placeholder="Name"/>
    </div>
    <div class="form-group">
        <label for="typeInput">Description</label>
        <textarea class="form-control" id="descriptionInput" placeholder="Description"></textarea>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>