<div id="wrapper" [class.toggled]="this.selectedComponent != null">
        <div id="sidebar-wrapper" *ngIf="this.selectedComponent == null">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    Components
                </li>
                <li *ngFor="let component of components">
                    <a [routerLink]="['/components', component.componentAddress]">{{component.name}}</a>
                </li>
            </ul>
        </div>
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12" *ngIf="selectedComponent != null">
                        <xns-component [component]='selectedComponent'></xns-component>
                    </div>
                    <div class="col-lg-12" *ngIf="selectedComponent == null">
                        <h1>Simple Sidebar</h1>
                        <p>This template has a responsive menu toggling system. The menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will appear/disappear. On small screens, the page content will be pushed off canvas.</p>
                        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
                        
                    </div>
                </div>
            </div>
        </div>

</div>