
<div class="k n">
  <div class="e baa">
    <h1 class="brl agq ayt bwe">x<span style="font-style: italic; text-transform: lowercase">n</span>sense</h1>
    <!--<p class="al ahz ajp">An exciting platform aiming to provide affordable, yet flexible and scalable solutions.</p>-->
    <p class="al ahz ajp">Sense the world</p>
    <!--<p class="al ahz ajp">Enlighten your business with connecting unstructured data from devices with structured data</p>-->
    <img src="img/AdobeStock_78603473c.png">
  </div>
</div>

<div class="k brc">
  <div class="e ayf v" data-transition="entrance" style="transition: transform 1200ms cubic-bezier(0.2, 0.7, 0.5, 1); transform: none;">
    <blockquote class="btc">
      <!--<img class="xo" src="img/IoT-Icon.png">-->
      <p>
          ERP system of the future is to connect people, processes, data and things in an intelligent way to enable new business models and make better decisions. 
      </p>
      <cite>xnsense brings the worlds of structured and unstructured data together</cite>
    </blockquote>
  </div>
</div>
<!--
<div class="k brc aig p">
  <div class="e">
    <div class="c">
      <div class="gs ge">
        <img src="../assets/img/iphone-perspective-sized.jpg" class="x" data-transition="entrance" style="transition: transform 1200ms cubic-bezier(0.2, 0.7, 0.5, 1); transform: none;">
        <hr class="ago ahz ajy azl">
      </div>
      <div class="gq ge ayf ayj ajp">
        <p class="al">
          We've been working for over 100 years to build the best possible app for all your needs. We're glad that others agree.
        </p>
        <div class="c ahv">
          <div class="ff ahl">
            <div class="bvz">
              <h1 class="bsr brl">92m</h1>
              <span class="bss">Downloads</span>
            </div>
          </div>
          <div class="ff ahl">
            <div class="bvz">
              <h1 class="bsr brl">8m</h1>
              <span class="bss">Reviews</span>
            </div>
          </div>
        </div>
        <div class="c ahl azm">
          <div class="ff ahl">
            <div class="bvz">
              <h1 class="bsr brl">78k</h1>
              <span class="bss">Developers</span>
            </div>
          </div>
          <div class="ff ahl">
            <div class="bvz">
              <h1 class="bsr brl">97%</h1>
              <span class="bss">Happiness</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->
<div class="k brc">
  <div class="e">
    <div class="c">
    <div class="ft kc ayf ahz">
      <p class="al ajy">
            Scalable, Felxible and a easy to use platform that you can take advantage of and start using now.
        </p>
    </div>
    </div>
    <div class="c">
      <div class="fr">
        <ul class="dp">
          <li class="ahz">
            <div class="bsg ayz">
              <i class="fa fa-bolt" aria-hidden="true"></i>
            </div>
            <p class="bsf agq"><strong>Connectivity</strong></p>
            <p class="bsf">
              Work with familiar technologies and protocols
            </p>
          </li>

          <li class="ahz">
            <div class="bsg ayz">
              <i class="fa fa-database" aria-hidden="true"></i>
            </div>
            <p class="bsf agq"><strong>Application</strong></p>
            <p class="bsf">
              Create your own end-point app or use a set of built-in apps
            </p>
          </li>

        </ul>
      </div>
      <div class="fr">
        <ul class="dp">

          <li class="ahz">
            <div class="bsg ayz">
              <i class="fa fa-puzzle-piece" aria-hidden="true"></i>
            </div>
            <p class="bsf agq"><strong>Integrate</strong></p>
            <p class="bsf">
              Easily integrate with our REST API
            </p>
          </li>

          <li class="ahz">
            <div class="bsg ayz">
              <i class="fa fa-desktop" aria-hidden="true"></i>
            </div>
            <p class="bsf agq"><strong>Manage</strong></p>
            <p class="bsf">
              Dashboard for management and analytics
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!--
<div class="k brc aih aie aif">
  <div id="carousel-example-generic" class="carousel ds slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
      <li data-target="#carousel-example-generic" data-slide-to="1"></li>
      <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>
    <div class="wg" role="listbox">
      <div class="wh active">
        <div class="k">
          <div class="e">
            <div class="c">
              <div class="ft kc">
                <p class="al ajy ayf">
                  Instead of guessing how much time you spend on each of your tasks, why not have automagically record everything and have easy reporting without lifting a finger? <span class="bwf">Well now you can with ease.</span>
                </p>
              </div>
            </div>
            <img class="er ahx q xu er" src="../assets/img/iphone-flat-sized.jpg">
          </div>
        </div>
      </div>
      <div class="wh">
        <div class="k">
          <div class="e">
            <div class="c">
              <div class="ft kc">
                <p class="al ajy ayf">
                  Instead of guessing how much time you spend on each of your tasks, why not have automagically record everything and have easy reporting without lifting a finger? <span class="bwf">Well now you can with ease.</span>
                </p>
              </div>
            </div>
            <img class="er ahx q xu er" src="../assets/img/iphone-flat-sized.jpg">
          </div>
        </div>
      </div>
      <div class="wh">
        <div class="k">
          <div class="e">
            <div class="c">
              <div class="ft kc">
                <p class="al ajy ayf">
                  Instead of guessing how much time you spend on each of your tasks, why not have automagically record everything and have easy reporting without lifting a finger? <span class="bwf">Well now you can with ease.</span>
                </p>
              </div>
            </div>
            <img class="er ahx q xu er" src="../assets/img/iphone-flat-sized.jpg">
          </div>
        </div>
      </div>
    </div>

    <a class="wm" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="a bat" aria-hidden="true"></span>
      <span class="agb">Previous</span>
    </a>
    <a class="wn" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="a bau" aria-hidden="true"></span>
      <span class="agb">Next</span>
    </a>
  </div>
</div>

<div class="k brc bqy aig r">
  <div class="e">
    <div class="c s">
      <div class="fs ayf ayg">
        <p class="al">
          We focused on design relentlessly. We loved it so much, we spent just as much time taking these crazy high resolution photos. Here are some more stats on that.
        </p>
        <div class="c">
          <div class="fd">
            <div class="bvz">
              <h1 class="bsr brl">1m</h1>
              <span class="bss">Photos</span>
            </div>
          </div>
          <div class="fd">
            <div class="bvz">
              <h1 class="bsr brl">2k</h1>
              <span class="bss">gigs</span>
            </div>
          </div>
          <div class="fd">
            <div class="bvz">
              <h1 class="bsr brl">7</h1>
              <span class="bss">Friends</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="aye t">
    <img src="../assets/img/iphone-reverse-perspective-sized.jpg" class="w" data-transition="entrance" style="transition: transform 1200ms cubic-bezier(0.2, 0.7, 0.5, 1); transform: none;">
  </div>
</div>
-->
<div class="k brc ayf">
  <div class="ex">
    <p class="al ahs">
      Join us and get <strong>connected</strong>!
    </p>
    <form class="qm xx zr">
      <input class="form-control ahl" placeholder="email address">
      <!--<input class="form-control ahl agz" type="password" placeholder="Create a Password">-->
    </form>
    <form>
        <button class="dm qq ahl">Get started</button>
    </form>
    <small class="an">
      By clicking "Get started" I agree to xnsense
      <a href="#">Terms of service</a>
    </small>
  </div>
</div>