<section id="main-slider">
    <div class="owl-carousel">
        <div class="item" style="background-image: url(img/AdobeStock_63677846.jpeg);">
            <div class="slider-inner">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="carousel-content">
                                <h4 class="white-text" style=" margin-top: 250px">
                                    An exciting IoT platform aiming to provide affordable,
                                    yet flexible and scalable solutions.
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/.owl-carousel-->
</section><!--/#main-slider-->

<section id="cta" class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h2>x<span class="xnsense-n-font">n</span>sense</h2>
                <p>Built on the basis of Microsoft Azure and ESP8266, it takes advantage of all the innovation and richness that it has to offer.</p>
                <p>Work with familiar platforms, protocols and create your own end-point app or use a set of built-in apps</p>
                <p>
                    An exciting IoT platform aiming to provide affordable, 
                    yet flexible and scalable sensing. Built on the basis of Microsoft 
                    Azure and ESP8266, it takes advantage of all the innovation and richness that it has to offer.
                </p>
                <ul>
                    <li>Work with familiar platforms and protocols</li>
                    <li>Create your own end-point app or use a set of built-in apps</li>
                    <li>Connect any device to the platform</li>
                    <li>Easily integrate with our REST API</li>
                    <li>Dashboard for management and analytics</li>
                    <li>Robust gateway powered by Raspbian and Node</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section id="features">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Awesome Features</h2>
            <p class="text-center wow fadeInDown">
                Learn about the architecture and features and get started today. Endless opportunities
            </p>
        </div>
        <div class="row">
            <div class="col-sm-5 wow fadeInLeft">
                <img src="img/AdobeStock_78603473c.png" class="img-fluid" alt="Responsive image">
            </div>
            <div class="col-sm-6">
                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Azure Cloud</h4>
                        <p>Secure and scalable backend and storage to handle any load</p>
                    </div>
                </div>

                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-wifi"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Sensing devices</h4>
                        <p>Collection of devices that can handle most of the industry standard inputs as well as custom data capture</p>
                        <p>This includes affordable and popular units like Raspberry Pi and Arduino allowing utilizing multiple wireless technologies and last but not least harnnessing the power of Windows 10 IoT Core</p>
                    </div>
                </div>

                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-share-alt"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Customisable</h4>
                        <p>Create and utilizing your own end-point app's in the various phases of data capture</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="cta2">
    <div class="container">
        <div class="text-center">
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">ARCHITECTURE</h2>
                <p class="text-center wow fadeInDown">
                    Share innovation with other IoT developers
                    <br />and create some amazing solutions
                </p>
            </div>
            <img class="img-responsive wow fadeIn" src="images/xnsense-architecture.PNG" alt="" data-wow-duration="300ms" data-wow-delay="300ms">
        </div>

    </div>
</section>

<section id="services" style=" background-color: white">
    <div class="container">

        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Our Services</h2>
            <p class="text-center wow fadeInDown">
                We have built a Scalable, Felxible and a easy to use IoT Platform that you can take advantage of and start using.
            <br>
                We can be at service and help you all the way
            </p>
        </div>

        <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-cloud"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">IoT Services and Platform</h4>
                            <p></p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-cogs"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Electronics and Sensors</h4>
                            <p></p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-pie-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Web Dashboard</h4>
                            <p></p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-apple"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">iOS App</h4>
                            <p></p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-android"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Android App</h4>
                            <p></p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-windows"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Windows App</h4>
                            <p></p>
                        </div>
                    </div>
                </div><!--/.col-md-4-->
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->

<section id="get-in-touch">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Get in Touch</h2>
            <p class="text-center wow fadeInDown">
            
            </p>
        </div>
    </div>
</section><!--/#get-in-touch-->


<section id="contact">
    <div class="item" style="background-image: url(img/AdobeStock_58711036.jpeg);">
        <div class="container-wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-8">
                        <div class="contact-form">
                            <h3>Contact Info</h3>

                            <address>
                                <strong>x<span class="xnsense-n-font">n</span>sense</strong><br>
                                <p>Email: mail@xnsense.com</p>
                            </address>
                            <form id="main-contact-form" name="contact-form" method="post" action="#">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="Subject" required>
                                </div>
                                <div class="form-group">
                                    <textarea name="message" class="form-control" rows="8" placeholder="Message" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Send Message</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/#bottom-->
