
<div class="col-xs-6" *ngIf="user">
    <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="typeInput">First Name</label>
            <input type="text" name="firstName" class="form-control" [(ngModel)]="user.firstName" #type="ngModel" id="typeInput" placeholder="First Name"/>
        </div>
        <div class="form-group">
            <label for="typeInput">Last Name</label>
            <input type="text" name="lastName" class="form-control" [(ngModel)]="user.lastName" #name="ngModel" id="nameInput" placeholder="Last Name"/>
        </div>
        <div class="form-group">
            <label for="typeInput">E-Mail</label>
            <input type="text" name="email" class="form-control" [(ngModel)]="user.email" #name="ngModel" id="nameInput" placeholder="E-Mail Address"/>
        </div>
        <div class="form-group">
            <label for="typeInput">Current Solution</label>
            <input type="text" name="currentSolutionId" class="form-control" [(ngModel)]="user.currentSolutionId" #name="ngModel" id="nameInput" placeholder=""/>
        </div>        
       <!-- <div class="form-group">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>-->
    </form>
</div>