
<div class="col-xs-6" *ngIf="user">
    <div class="card">
        <div class="card-header">
            <strong>My User</strong>
            <small></small>
        </div>
        <div class="card-block">

            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">First Name</label>
                        <input class="form-control" id="firstName" [(ngModel)]="user.firstName" #type="ngModel" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">Last Name</label>
                        <input class="form-control" id="lastName" [(ngModel)]="user.lastName" #type="ngModel" type="text">
                    </div>
                </div>
            </div>            
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="name">E-Mail</label>
                        <input class="form-control" id="email" [(ngModel)]="user.email" #type="ngModel" type="text">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="currSolution">Current Solution</label>
                        <select name="currentSolution" class="form-control" id="currSolution" [(ngModel)]="user.currentSolutionId">
                            <option *ngFor="let solution of solutions" [ngValue]="solution.id" [selected]="solution.id === user.currentSolutionId">{{solution.name}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <button class="btn btn-md btn-primary" type="submit" (click)="saveUser()">Save</button>
        </div>        
    </div>
</div>

