<div class="col-xs-12 col-lg-6">
    <div class="card" *ngIf="unit">
        <div class="card-header">
            <strong>{{unit.name}}</strong>
            <small></small>
        </div>
        <div class="card-block">
            <form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
                <div class="row">
                    <div class="form-group col-xs-12 col-lg-6">
                        <label for="city">Name</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="unit.name">
                    </div>
                </div>                
                <div class="row">
                    <div class="form-group col-xs-12 col-lg-6">
                        <label for="street">Description</label>
                        <input type="text" class="form-control" name="description" [(ngModel)]="unit.description">
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-xs-12 col-lg-6 custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="azureDevice" [(ngModel)]="unit.azureDevice">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Azure Device</span>
                    </label>
                </div>
                <div class="row form-group">
                    <label class="col-xs-12 col-lg-6 custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" name="debugEnabled" [(ngModel)]="unit.debugEnabled">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">Enable Debug</span>
                    </label>                
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
                <div class="label label-danger" *ngIf="errorMessage != null">
                    {{errorMessage}}
                </div> 
            </form>
        </div>
    </div>
</div>