<header class="app-header navbar">
    <button *ngIf="isLoggedIn" class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a class="navbar-brand" [routerLink]="['/home']"></a>

    <ul *ngIf="isLoggedIn" id="sidebarBtn" class="nav navbar-nav hidden-md-down">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>
    </ul>
      <a *ngIf="!isLoggedIn" id="loginBtn" [routerLink]="['/login']" class="nav navbar-nav ml-auto">Login</a>
</header>