<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
    <a class="navbar-brand" href="#"></a>

    <ul id="sidebarBtn" class="nav navbar-nav hidden-md-down hidden">
        <li class="nav-item">
            <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
        </li>
    </ul>
      <a id="loginBtn" href="/login" style="margin-top: 15px;margin-left: 6px;margin-right: 10px;">Login</a>
</header>